table td {
	vertical-align: middle!important;
}
body {
	font-family: 'Dancing Script', cursive;
	background: whitesmoke;
}

h1, h2, h3, h4, h5{
	font-family: 'Pacifico', cursive;
}


div .bg-img{
	background: url(../images/bg-image.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

div .designers{
	overflow: hidden;
	
}

.designers img{
	border: 1px solid;
	padding: 10px;
	background: silver;
	opacity: 0.6;
}

.designers img:hover{
	opacity: 1;
	background: none;
	border: none;
	transform: scale(1.5);
	transition: transform .5s
}

ul li a:hover{
	text-decoration: none;
}

.bag-filter, .navbar, .login, .register, .home-dash, tbody, a, button,
 label, input, p, select, option, textarea{
	font-family: 'Oswald', sans-serif;
}

.login, .register, .home-dash{
	height: 92vh;
	padding-top: 20%;
	background: url(../images/lilo-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.mycart, .confirmorder, .result, .review, .orderlist{
	height: 92vh;
	padding-top: 10%;
	background: url(../images/lilo-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.result-text, .review-text{
	text-shadow: 1px 3px whitesmoke;
}

.transaction-title{
	/*display: block !important;*/
}

.text-flash{
	text-shadow: 1px 3px whitesmoke;
	color: green;
}

